.showMoreButton {
  width: 502px;
  padding: 0;
  background: #2196f3;
  border: {
    radius: 5px;
    width: 0;
  }
  font: {
    style: normal;
    weight: 600;
    size: 12px;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  letter-spacing: 0.5px;
  line-height: 50px;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}
