.tab {
  display: block;
  position: relative;
  margin-left: -1px;
  border: 1px solid #dfe5ec;
  li:first-child & {
    border-radius: 5px 0 0 5px;
  }
  li:last-child & {
    border-radius: 0 5px 5px 0;
  }
  font: {
    weight: 600;
    size: 12px;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  line-height: 48px;
  letter-spacing: 0.5px;
  &:hover {
    cursor: pointer;
  }
  z-index: 0;
  background-color: #fff;
  color: #4a4a4a;
  input:checked + & {
    z-index: 1;
    border-color: #2196f3;
    background-color: #2196f3;
    color: #fff;
  }
}
