.ticketDetails {
  display: table;
  width: 100%;
  margin-top: 20px;
  font-weight: 600;
  &__header {
    display: table-header-group;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #a0b0b9;
  }
  &__body {
    display: table-row-group;
    font-size: 14px;
    line-height: 21px;
    color: #4a4a4a;
  }
  &__row {
    display: table-row;
  }
  &__data {
    display: table-cell;
    width: calc(100% / 3);
  }
}
